# Git
.git
.gitignore

Dockerfile
docker-compose.yml
.dockerignore

**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv
venv
env
.env*
ENV

.vscode/
.idea/
.DS_Store
Thumbs.db

.github
uploads/
*.log
db
requirements.txt
requirements-dev.txt
README.md
.pre-commit-config.yaml
